<!DOCTYPE html>
<html lang="en-EN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/insta-fav.ico') }}">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <title>Login · Instagram</title>
</head>
<body>
    <main class="flex align-items-center justify-content-center">
        <section id="mobile" class="flex">
        </section>
        <section id="auth" class="flex direction-column">
            <div class="panel login flex direction-column">
                <h1 title="Instagram" class="flex justify-content-center">
                    <img src="/static/img/instagram-logo.png" alt="Instagram logo" title="Instagram" />
                </h1>
                <form>
                    <label for="username" class="sr-only">Phone number, username, or email</label>
                    <input name="email" id="username" placeholder="Phone number, username, or email" />

                    <label for="password" class="sr-only">Password</label>
                    <input name="password" type="password" id="password" placeholder="Password" />

                    <button type="button" id="loginButton">Login</button>
                </form>
                <div class="flex separator align-items-center">
                    <span></span>
                    <div class="or">OR</div>
                    <span></span>
                </div>
                <div class="login-with-fb flex direction-column align-items-center">
                    <div>

                        <a>Login in with Facebook</a>
                    </div>
                    <a href="https://www.instagram.com/accounts/password/reset/">Forgot password?</a>
                </div>
            </div>
            <div class="panel register flex justify-content-center">
                <p>Don't have an account?</p>
                <a href="#">Sign up</a>
            </div>
            <div class="app-download flex direction-column align-items-center">
                <p>Get the app.</p>
                <div class="flex justify-content-center">
                    <img src="/static/img/apple-button.png" alt="Apple Store" title="Apple Store" />
                    <img src="/static/img/googleplay-button.png" alt="Google Play" title="Google Play" />
                </div>
            </div>
        </section>
    </main>
    <footer>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>